.button {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 0em;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: #414141;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}
 
.button:hover {
-fx-background-color: #d6d4d4;
-fx-color: -fx-hover-base;
}
 
.menu-button {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 0em;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


.menu-button:hover {
-fx-background-color: #d6d4d4;
-fx-color: -fx-hover-base;
}